<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Chronicle Education Category Bootstrap Responsive website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="{% static 'assets/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{% static 'assets/css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->


   <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .a{
<!--           position:absolute;-->
           width:200px;
<!--           left:40px;-->
           margin:10px auto;
           padding:10px;
           border:1px solid #ccc;
           border-radius:10px;
           background-color:black;
<!--           top:700px;-->

          }
    </style>
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="main-nav">
                <div class="container">

                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Chronicle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="index">Book N Books</a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                        <ul class="nav navbar-nav navbar-left cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li>
                                <a href="index">Home</a>
                            </li>
                            <li>
                                <a href="about">about us</a>
                            </li>
                            <li>
                                <a href="contact">Contact us</a>
                            </li>
                        </ul>


                        <!-- //shopping cart ends here -->
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.container -->
            </div>
        </nav>
        <!-- //navbar ends here -->
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        world of reading
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->

        <div class="crumbs text-center">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- signin and signup form -->

<!--        {%if messages%}-->
<!--        <div class="alert alert-success alert-dismissible">-->
<!--            {%for i in messages%}-->
<!--          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--          <strong> {{i}}</strong>-->
<!--            {%endfor%}-->
<!--        </div>-->
<!--        {%endif%}-->

        <div class="login-form section text-center">
            <div class="container">
                <h4 class="rad-txt">
<!--                    <span class="abtxt1"> Categories</span>-->
<!--                    <span class="abtext">sign up</span>-->
                </h4>
                <div id="loginbox" style="margin-top:30px;" class="mainbox  loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title"> Forgot Password</div>
<!--                            <div style="float:right; font-size: 85%; position: relative; top:-10px">-->
<!--                                <a id="signinlink" href="login">Sign In</a>-->
<!--                            </div>-->
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                        <div class="col-12">
                                            <div class="mb-5">
                                                <div class="text-center mb-4">
                                                    <a href="#">
                                                        <a alt="forgot password" width="175" height="90">
                                                    </a>
                                                    </a>
                                                </div>
<!--                                                <h2 class="h4 text-center">FORGOT PASSWORD</h2>-->
                                                <h5 class="fs-6 fw-normal text-secondary text-center m-0">Provide the email address associated with your account to recover your password.</h5>
                                            </div>
                                        </div>
                            </div>
                            <br>
                            <form action="{% url 'forgot' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row gy-3 overflow-hidden">
                                            <div class="col-12">
                                                <div class="form-floating mb-3">
<!--                                                       <label for="email" class="form-label">Email</label>-->
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your registered Email address" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button id="btn-signup" type="submit" class="btn btn-success">Send Mail</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

<!--                                <div class="form-group">-->
<!--                                    {% for i in data %}-->
<!--                                    <div class="a">-->
<!--                                    <a href="bookslist/{{i.pk}}" style="color:white;"><h4><b>{{i.category}}</b></h4></a>-->
<!--                                    </div>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{static 'assets/js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!--search jQuery-->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="{% static 'assets/js/minicart.js' %}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- start-smooth-scrolling -->
    <script src="{% static 'assets/js/move-top.js' %}"></script>
    <script src="{% static 'assets/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'assets/js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--     <title>Baggage </title>-->
<!--    &lt;!&ndash; Meta tag Keywords &ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="keywords" content="Baggage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />-->
<!--    <script>-->
<!--        addEventListener("load", function() {-->
<!--            setTimeout(hideURLbar, 0);-->
<!--        }, false);-->

<!--        function hideURLbar() {-->
<!--            window.scrollTo(0, 1);-->
<!--        }-->
<!--    </script>-->
<!--    &lt;!&ndash; //Meta tag Keywords &ndash;&gt;-->
<!--    &lt;!&ndash; Custom-Files &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->
<!--    &lt;!&ndash; Bootstrap-Core-CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />-->
<!--    &lt;!&ndash; Style-CSS &ndash;&gt;-->
<!--    &lt;!&ndash; font-awesome-icons &ndash;&gt;-->
<!--    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">-->
<!--    &lt;!&ndash; //font-awesome-icons &ndash;&gt;-->
<!--    &lt;!&ndash; /Fonts &ndash;&gt;-->
<!--    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">-->
<!--    &lt;!&ndash; //Fonts &ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; page details &ndash;&gt;-->
<!--	<div class="breadcrumb-agile bg-light py-2">-->
<!--		<ol class="breadcrumb bg-light mt-2" style="margin-left:20px;">-->
<!--			<li class="breadcrumb-item">-->
<!--				<a href="">Home</a>-->
<!--			</li>-->
<!--			<li class="breadcrumb-item active" aria-current="page">Forgot Password</li>-->
<!--		</ol>-->
<!--	</div>-->
<!--	&lt;!&ndash; //page details &ndash;&gt;-->
<!--&lt;!&ndash;forgot password&ndash;&gt;-->
<!--&lt;!&ndash;   <div class="main-sec inner-page">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; //header &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <header class="py-sm-3 pt-3 pb-2" id="home">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash; nav &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="top-w3pvt d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div id="logo">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h1> <a href="index"><span class="log-w3pvt">B</span>aggage</a> <label class="sub-des">Online Store</label></h1>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--<section class="bg-light p-2 p-md-4 p-xl-5">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-12 col-xxl-11">-->
<!--                <div class="card border-light-subtle shadow-sm">-->
<!--                    <div class="row g-0">-->
<!--                        <div class="col-12 col-md-6">-->
<!--                        </div>-->
<!--                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">-->
<!--                            <div class="col-12 col-lg-11 col-xl-10">-->
<!--                                <div class="card-body p-3 p-md-4 p-xl-5">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-12">-->
<!--                                            <div class="mb-5">-->
<!--                                                <div class="text-center mb-4">-->
<!--                                                    <a href="#">-->
<!--                                                        <a alt="forgot password" width="175" height="90">-->
<!--                                                    </a>-->
<!--                                                    </a>-->
<!--                                                </div>-->
<!--                                                <h2 class="h4 text-center">FORGOT PASSWORD</h2>-->
<!--                                                <h4 class="fs-6 fw-normal text-secondary text-center m-0">Provide the email address associated with your account to recover your password.</h4>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <form action="{% url 'forgot' %}" method="post">-->
<!--                                        {% csrf_token %}-->
<!--                                        <div class="row gy-3 overflow-hidden">-->
<!--                                            <div class="col-12">-->
<!--                                                <div class="form-floating mb-3">-->
<!--                                                       <label for="email" class="form-label">Email</label>-->
<!--                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your registered Email address" required>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-12">-->
<!--                                                <div class="d-grid">-->
<!--                                                    <button class="btn btn-dark btn-lg" type="submit">Send Mail</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash;//forgot password&ndash;&gt;-->
<!--</body>-->
</html>