<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Chronicle Education Category Bootstrap Responsive website Template | Shop Catalogue :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="{% static 'assets/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- shop css -->
	<link href="{% static 'assets/css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- checkout css -->
	<link href="{% static 'assets/css/checkout.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- Range-slider-css -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery-ui1.css' %}">
	<!-- common-css -->
	<link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- font-awesome icons -->
	<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">

	<!-- //Custom Theme files -->
	<!-- online-fonts -->
	<!-- logo -->
	<link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<!-- titles -->
	<link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	<!-- body -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //online-fonts -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta charset="utf-8">
	<style>
         .b{
      background-color:pink;}
         .h{
         position;absolute;
         top:300px;
         height:250px;
         width:250px
         }

         .product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-item {
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    display: block;
    margin: 0 auto;
}

      </style>

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div id="home">
		<!-- header -->
		<!-- navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="main-nav">
				<div class="container">

					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Chronicle</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1>
							<a class="navbar-brand" href="index">Book N Books</a>
						</h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
						<ul class="nav navbar-nav navbar-left cl-effect-15">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden">
								<a class="page-scroll" href="#page-top"></a>
							</li>
							<li>
								<a href="userhome">Home</a>
							</li>

							<li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">shop
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="../shop">books</a>
                                    </li>
                                    <li>
                                        <a href="../secondhandbooks">second-hand books</a>
                                    </li>
                                    <li>
                                        <a href="../seller_userhome">Share It</a>
                                    </li>
                                </ul>
                            </li>
							<li>
								<a href="mycart">Cart</a>
							</li>
							<li>
								<a href="Wishlist">Wishlist</a>
							</li>
							<li>
								<a href="user_orders">My Order</a>
							</li>
<!--							<li>-->
<!--								<a href="contact">Contact us</a>-->
<!--							</li>-->
							<li>
								<a href="logout" title="logout">
									<span class="fa fa-sign-out" aria-hidden="true" style="font-size:20px"></span>
								</a>
							</li>

						</ul>
						<!-- search-bar -->
						<div class="search-bar-agileits">
							<div class="cd-main-header">
								<ul class="cd-header-buttons">
									<li>
										<a class="cd-search-trigger" href="#cd-search">
											<span></span>
										</a>
									</li>
								</ul>
								<!-- cd-header-buttons -->
							</div>
							<div id="cd-search" class="cd-search">
								<form action="search" method="post">
									{% csrf_token %}
									<input name="s" type="search" placeholder="Type and Hit Enter...">
								</form>
							</div>
						</div>
						<!-- //search-bar ends here -->
						<!-- shopping cart -->
<!--						<div class="cart-mainf">-->
<!--							<div class="chrcart chrcart2 cart cart box_1">-->
<!--								<form action="#" method="post" class="last">-->
<!--									<input type="hidden" name="cmd" value="_cart">-->
<!--									<input type="hidden" name="display" value="1">-->
<!--									<button class="top_chr_cart" type="submit" name="submit" value="">-->
<!--										<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>-->
<!--									</button>-->
<!--								</form>-->
<!--							</div>-->
<!--						</div>-->
						<!-- //shopping cart ends here -->
					</div>
					<!-- /.navbar-collapse -->
					<div class="clearfix"></div>
				</div>
				<!-- /.container -->
			</div>
		</nav>
		<!-- //navbar ends here -->
		<!-- banner -->
		<div class="banner-bg-inner">
			<!-- banner-text -->
			<div class="banner-text-inner">
				<div class="container">
					<h2 class="title-inner">
						world of reading
					</h2>

				</div>
			</div>
			<!-- //banner-text -->
		</div>
		<!-- //banner -->
		<!-- breadcrumbs -->
		<div class="crumbs text-center">
			<div class="container">
				<div class="row">
<!--					<ul class="btn-group btn-breadcrumb bc-list">-->
<!--						<li class="btn btn1">-->
<!--							<a href="userhome">-->
<!--								<i class="glyphicon glyphicon-home"></i>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li class="btn btn2">-->
<!--							<a href="shop">First-Hand Books</a>-->
<!--						</li>-->
<!--					</ul>-->
				</div>
			</div>
		</div>
		<!--//breadcrumbs ends here-->
		<!-- Shop -->
		<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
			<div class="product-row">
				{% if  search or searchh %}
					{% for item in search %}
						<div class="product-item">
							<img  src="{{item.image1.url}}" height="200px" width="225px">
							<p style="text-align:justify">
							<strong>Book Name:</strong> {{ item.book_name }}<br>
							<strong>Author:</strong> {{ item.author }}<br>
							<strong>Description:</strong> {{ item.description }}<br><br></p>
							<strong>Price:</strong>₹{{ item.price }}<br>
							<a href="cart/{{item.pk}}"><button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true" style="font-size:18px"></i></button></a>
							<a href="../singles/{{item.pk}}"><button class="btn btn-success"><i class="fa fa-credit-card" aria-hidden="true" style="font-size:18px"></i></button></a>
							<a href="../add_to_wishlist/{{item.pk}}"><button class="btn btn-success"><i class="fa fa-heart" aria-hidden="true" style="font-size:18px"></i></button></a><br>

						</div>
					{% endfor %}

					{% for item in searchh %}
						<div class="product-item" >
							<img src="{{item.s_image1.url}}" height="200px" width="225px">
							<strong style="color:red">Second Hand Book</strong><br><br>
							<p style="text-align:justify">
							<strong>Book Name:</strong> {{ item.s_book_name }}<br>
							<strong>Author:</strong> {{ item.s_author }}<br>
							<strong>Description:</strong> {{ item.s_description }}<br><br></p>
							<strong>Price:</strong>₹{{ item.s_price }}<br>
							<a href="../../add_to_wishlist_second/{{item.pk}}"><button class="btn btn-success"><i class="fa fa-heart" aria-hidden="true" style="font-size:18px"></i></button></a>
							<a href="../../singles_sec/{{item.pk}}"><button class="btn btn-success">Buy now</button></a>
						</div>
					{% endfor %}
				{% else %}
					<p class="no-results">No books found.</p>
				{% endif %}
		<!--                <div class="product-actions">-->
		<!--&lt;!&ndash;                    <a href="wishlist/{{ i.pk }}"><button style="background-color:green">Wish</button></a>&ndash;&gt;-->
		<!--                    {% if i in sub %}-->
		<!--                        <a href="../cart"><button style="background-color:blue">Go To Cart</button></a>-->
		<!--                    <a href="single/{{ i.pk }}"><button style="background-color:yellow">Buy now</button></a>-->
		<!--                    <a href="../wishlist/{{ i.pk }}"><button style="background-color:green">Wish</button></a>-->
		<!--                    {% else %}-->
		<!--                        <a href="../addtocart/{{i.pk}}"><button style="background-color:blue">Add To Cart</button></a>-->
		<!--                      <a href="single/{{ i.pk }}"><button style="background-color:yellow">Buy now</button></a>-->
		<!--                    <a href="../wishlist/{{ i.pk }}"><button style="background-color:green">Wish</button></a>-->
		<!--                    {% endif %}-->
		<!--&lt;!&ndash;                    <a href="single/{{ i.pk }}"><button style="background-color:yellow">Buy now</button></a>&ndash;&gt;-->
		<!--                </div>-->
		<!--            </div>-->

		<!--                </div>-->

			</div>
		</section>








		<!--// Shop -->
 <!-- footer -->
<!-- <div class="footer-bottom section">-->
<!--	<div class="container">-->
<!--		&lt;!&ndash; newsletter &ndash;&gt;-->
<!--		<div class="subscribe-main section-w3layouts text-center">-->
<!--			<h4 class="rad-txt">-->
<!--				<span class="abtxt1">keep yourself</span>-->
<!--				<span class="abtext">updated</span>-->
<!--			</h4>-->
<!--			<h5>subscribe to our newsletter to stay up-to-date with our projects.</h5>-->
<!--			<div class="subscribe-form">-->
<!--				<form action="#" method="post" class="subscribe_form">-->
<!--					<div class="email-news">-->
<!--						<input type="email" placeholder="Email" required="">-->
<!--					</div>-->
<!--					<div class="sub-news">-->
<!--						<input type="submit" value="subscribe">-->
<!--					</div>-->
<!--				</form>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<p>We respect your privacy.No spam ever!</p>-->
<!--		</div>-->
<!--		&lt;!&ndash; //newsletter ends here &ndash;&gt;-->
<!--		&lt;!&ndash; footer grids&ndash;&gt;-->
<!--		<div class="footer-cpy">-->
<!--			&lt;!&ndash; footer-grid1 &ndash;&gt;-->
<!--			<div class="col-md-3 col-sm-6 footer-logo">-->
<!--				<h3>-->
<!--					<a href="index">Chronicle</a>-->
<!--				</h3>-->
<!--				<h4>about us</h4>-->
<!--				<p>Vallis Molestie Arcu Morbi Dapibus Suscipit Ante Sit Efficitur Eu estie Arcu Mor Anestie Ate Vesti.</p>-->
<!--			</div>-->
			<!-- //footer-grid1 -->
			<!-- footer-grid2 -->
<!--			<div class="col-md-3 col-sm-6 footer-nav text-center">-->
<!--				<h4>navigation</h4>-->
<!--				<ul>-->
<!--					<li>-->
<!--						<a href="index">Home</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="about">About us</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="shop">shop</a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="contact">contact us</a>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--			&lt;!&ndash; //footer-grid2 &ndash;&gt;-->
<!--			&lt;!&ndash; footer-grid3 &ndash;&gt;-->
<!--			<div class="col-md-3 col-sm-6 blog-footer">-->
<!--				<h4>latest from blog</h4>-->
<!--				<div class="blog1">-->
<!--					<div class="col-md-3 col-sm-3 col-xs-2 bl1">-->
<!--						<a href="#">-->
<!--							<img src="{% static 'assets/images/b1.jpg' %}" alt="" class="img-responsive" />-->
<!--						</a>-->
<!--					</div>-->
<!--					<div class="col-md-9 col-sm-9 col-xs-10 bl2">-->
<!--						<a href="#">Dapibus Suscipit Ante Sit by instagram</a>-->
<!--						<p>February 15, 2018</p>-->
<!--					</div>-->
<!--					<div class="clearfix"></div>-->
<!--				</div>-->
<!--				<div class="blog1">-->
<!--					<div class="col-md-3 col-sm-3 col-xs-2 bl1">-->
<!--						<a href="#">-->
<!--							<img src="{% static 'assets/images/b2.jpg' %}" alt="" class="img-responsive" />-->
<!--						</a>-->
<!--					</div>-->
<!--					<div class="col-md-9 col-sm-9 col-xs-10 bl2">-->
<!--						<a href="#">Dapibus Suscipit Ante Sit by instagram</a>-->
<!--						<p>February 20, 2018</p>-->
<!--					</div>-->
<!--					<div class="clearfix"></div>-->
<!--				</div>-->
<!--			</div>-->
<!--			&lt;!&ndash; //footer-grid3 &ndash;&gt;-->
<!--			&lt;!&ndash; footer-grid4 &ndash;&gt;-->
<!--			<div class="col-md-3 col-sm-6 contact-foot text-right">-->
<!--				<h4>contact us</h4>-->
<!--				<ul>-->
<!--					<li>-->
<!--						<span class="fa fa-home"></span>-->
<!--						1185 Burlington-->
<!--						<br> Canada.-->
<!--					</li>-->
<!--					<li>-->
<!--						<span class="fa fa-phone"></span>-->
<!--						+12 345 678-->
<!--					</li>-->
<!--					<li>-->
<!--						<span class="fa fa-envelope"></span>-->
<!--						<a href="mailto:info@example.com">mail@chronicle.com</a>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--			&lt;!&ndash; //footer-grid4 &ndash;&gt;-->
<!--			<div class="clearfix"></div>-->
<!--		</div>-->
<!--		&lt;!&ndash; //footer-grids &ndash;&gt;-->
<!--		&lt;!&ndash; footer social &ndash;&gt;-->
<!--		<div class="footer-social text-center">-->
<!--			<h4>stay connected</h4>-->
<!--			<ul>-->
<!--				<li>-->
<!--					<a href="#">-->
<!--						<span class="fa fa-facebook icon_facebook"></span>-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="#">-->
<!--						<span class="fa fa-twitter icon_twitter"></span>-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="#">-->
<!--						<span class="fa fa-dribbble icon_dribbble"></span>-->
<!--					</a>-->
<!--				</li>-->
<!--				<li>-->
<!--					<a href="#">-->
<!--						<span class="fa fa-google-plus icon_g_plus"></span>-->
<!--					</a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</div>-->
<!--		&lt;!&ndash; //footer social &ndash;&gt;-->
<!--	</div>-->
<!--	&lt;!&ndash; //footer container &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; //footer &ndash;&gt;-->
<!--<div class="cpy-right">-->
<!--	<p>© 2018 Chronicle. All rights reserved | Design by-->
<!--		<a href="http://w3layouts.com"> W3layouts.</a>-->
<!--	</p>-->
<!--</div>-->
<!--</div>-->
<!-- //home -->
	<!-- js -->
	<!-- Common js -->
	<script src="{% static 'assets/js/jquery-2.2.3.min.js' %}"></script>
	<!--// Common js -->
	<!-- cart-js -->
	<script src="{% static 'assets/js/minicart.js' %}"></script>
	<script>
		chr.render();

		chr.cart.on('new_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- price range (top products) -->
	<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
	<script>
		//<![CDATA[
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->

	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<!--search jQuery-->
	<script src="{% static 'assets/js/main.js' %}"></script>
	<!--search jQuery-->

	<!-- Scrolling Nav JavaScript -->
	<script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
	<!-- //fixed-scroll-nav-js -->
	<!--//scripts-->

	<script src="{% static 'assets/js/bootstrap.js' %}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{% static 'assets/js/move-top.js' %}"></script>
	<script src="{% static 'assets/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script src="{% static 'assets/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

</body>

</html>