<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Chronicle Education Category Bootstrap Responsive website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="{% static 'assets/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{% static 'assets/css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->


   <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="main-nav">
                <div class="container">

                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Chronicle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="index">Book N Books</a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                        <ul class="nav navbar-nav navbar-left cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li>
                                <a href="seller_userhome">Home</a>
                            </li>
                             <li>
                                <a href="userhome">Get It</a>
                            </li>
                            <li>
                                <a href="seller_displaycategory">Add Book</a>
                            </li>
                            <li>
                                <a href="user_request">My Request</a>
                            </li>
<!--                            <li class="dropdown">-->
<!--                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Books-->
<!--                                    <b class="caret"></b>-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li>-->
<!--                                        <a href="../add_product">Add Books</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="categories">View Books</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="bookslist">Books</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="">My Books</a>-->
<!--                            </li>-->
                             <li>
                                <a href="orderlist_sec">Orders</a>
                            </li>
                            <li>
                                <a href="logout" title="logout">
                                    <span class="fa fa-sign-out"style="font-size:20px"></span>
                                </a>
                            </li>


                        </ul>
<!--                            <li>-->
<!--                                <a href="index">Home</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="about">about us</a>-->
<!--                            </li>-->
<!--                            <li class="dropdown">-->
<!--                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">shop-->
<!--                                    <b class="caret"></b>-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li>-->
<!--                                        <a href="shop">product catalog</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="single_product">single product</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="checkout">checkout</a>-->
<!--                                    </li>-->
<!--									<li>-->
<!--                                        <a href="payment">Payment</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--&lt;!&ndash;                            <li class="dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">footers&ndash;&gt;-->
<!--&lt;!&ndash;                                    <b class="caret"></b>&ndash;&gt;-->
<!--&lt;!&ndash;                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="footer">Default</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="footer1">variant1</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="footer2">variant2</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="footer3">variant3</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="footer4">variant4</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                            <li>-->
<!--                                <a href="contact">Contact us</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="login" title="SignIn & SignUp">-->
<!--                                    <span class="fas fa-user" aria-hidden="true"></span>-->
<!--                                </a>-->
<!--                            </li>-->

<!--                        </ul>-->
<!--                        &lt;!&ndash; search-bar &ndash;&gt;-->
<!--                        <div class="search-bar-agileits">-->
<!--                            <div class="cd-main-header">-->
<!--                                <ul class="cd-header-buttons">-->
<!--                                    <li>-->
<!--                                        <a class="cd-search-trigger" href="#cd-search">-->
<!--                                            <span></span>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                &lt;!&ndash; cd-header-buttons &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div id="cd-search" class="cd-search">-->
<!--                                <form action="#" method="post">-->
<!--                                    <input name="Search" type="search" placeholder="Type and Hit Enter...">-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; //search-bar ends here &ndash;&gt;-->
<!--                        &lt;!&ndash; shopping cart &ndash;&gt;-->
<!--                        <div class="cart-mainf">-->
<!--                            <div class="chrcart chrcart2 cart cart box_1">-->
<!--                                <form action="#" method="post" class="last">-->
<!--                                    <input type="hidden" name="cmd" value="_cart">-->
<!--                                    <input type="hidden" name="display" value="1">-->
<!--                                    <button class="top_chr_cart" type="submit" name="submit" value="">-->
<!--                                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- //shopping cart ends here -->
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.container -->
            </div>
        </nav>
        <!-- //navbar ends here -->
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        world of reading
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->

        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="index">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="login">Add Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- signin and signup form -->

        {%if messages%}
        <div class="alert alert-success alert-dismissible">
            {%for i in messages%}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong> {{i}}</strong>
            {%endfor%}
        </div>
        {%endif%}

        <div class="login-form section text-center">
            <div class="container">
                <h4 class="rad-txt">
                    <span class="abtxt1">Add Categories</span>
<!--                    <span class="abtext">sign up</span>-->
                </h4>
                <div id="loginbox" style="margin-top:30px;" class="mainbox  loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Add Categories</div>
<!--                            <div style="float:right; font-size: 85%; position: relative; top:-10px">-->
<!--                                <a id="signinlink" href="login">Sign In</a>-->
<!--                            </div>-->
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" action="seller_addcategory" method="post" enctype="multipart/form-data">
                                {%csrf_token%}
<!--                                <div id="signupalert" style="display:none" class="alert alert-danger">-->
<!--                                    <p>Error:</p>-->
<!--                                    <span></span>-->
<!--                                </div>-->

                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Category</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control" name="cate" placeholder="category" required="">
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Name</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        <input type="text" class="form-control" name="b_name" placeholder="Name of the book" required="">-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Publication</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        <input type="text" class="form-control" name="publisher" placeholder="publisher Name" required="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Category</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        Novel <input type="radio" value="novel" name="1"> &nbsp;-->
<!--                                        Comic book <input type="radio" value="comicbook"  name="1"> &nbsp;-->
<!--                                        Kids book <input type="radio" value="kidsbook"  name="1">-->
<!--                                        Biography <input type="radio" value="biography"  name="1">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Description</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        <input type="text" class="form-control" name="des" placeholder="..." required="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Price</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        <input type="number" class="form-control" name="price" placeholder="Price" required="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Image</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        <input type="file" class="form-control" name="img1" required="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Image</label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-9">-->
<!--                                        <input type="file" class="form-control" name="img2" required="">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group">
<!--                                    <input type="submit" value="Sign Up">-->
                                    <!-- Button -->
                                    <div class="signup-btn">
                                        <button  type="submit" class="btn btn-success">
                                            <i class="icon-hand-right"></i> &nbsp; Add</button>
                                    </div>
                                </div>
<!--                                <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">-->

<!--                                    <div class="f-btn">-->
<!--                                        <button id="btn-fbsignup" type="button" class="btn btn-primary">-->
<!--&lt;!&ndash;                                            <i class="icon-facebook"></i>   Sign Up with Facebook</button>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--                            <div class="fpassword">-->
<!--                                <a href="#">Forgot password?</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div style="padding-top:30px" class="panel-body">-->
<!--                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>-->
<!--                            <form id="loginform" class="form-horizontal" action="#" method="post">-->
<!--                                <div style="margin-bottom: 25px" class="input-group">-->
<!--                                    <span class="input-group-addon">-->
<!--                                        <i class="glyphicon glyphicon-user"></i>-->
<!--                                    </span>-->
<!--                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" required="">-->
<!--                                </div>-->

<!--                                <div style="margin-bottom: 25px" class="input-group">-->
<!--                                    <span class="input-group-addon">-->
<!--                                        <i class="glyphicon glyphicon-lock"></i>-->
<!--                                    </span>-->
<!--                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required="">-->
<!--                                </div>-->
<!--                                <div class="input-group">-->
<!--                                    <div class="checkbox">-->
<!--                                        <label>-->
<!--                                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div style="margin-top:10px" class="form-group">-->
<!--                                    &lt;!&ndash; Button &ndash;&gt;-->
<!--                                    <div class="col-sm-12 controls">-->
<!--                                        <a id="btn-login" href="#" class="btn btn-success">Login </a>-->
<!--&lt;!&ndash;                                        <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <div class="col-md-12 control">-->
<!--                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">-->
<!--                                            Don't have an account!-->
<!--                                            <a href="reg" onClick="$('#loginbox').hide(); $('#signupbox').show()">-->
<!--                                                Sign Up Here-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="signupbox" style="display:none; margin-top:50px" class="mainbox loginbox">-->

    <!--//signin and signup form ends here-->
     <!-- footer -->
<!--     <div class="footer-bottom section">-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; newsletter &ndash;&gt;-->
<!--            <div class="subscribe-main section-w3layouts text-center">-->
<!--                <h4 class="rad-txt">-->
<!--                    <span class="abtxt1">keep yourself</span>-->
<!--                    <span class="abtext">updated</span>-->
<!--                </h4>-->
<!--                <h5>subscribe to our newsletter to stay up-to-date with our projects.</h5>-->
<!--                <div class="subscribe-form">-->
<!--                    <form action="#" method="post" class="subscribe_form">-->
<!--                        <div class="email-news">-->
<!--                            <input type="email" placeholder="Email" required="">-->
<!--                        </div>-->
<!--                        <div class="sub-news">-->
<!--                            <input type="submit" value="subscribe">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <div class="clearfix"> </div>-->
<!--                </div>-->
<!--                <p>We respect your privacy.No spam ever!</p>-->
<!--            </div>-->
<!--            &lt;!&ndash; //newsletter ends here &ndash;&gt;-->
<!--            &lt;!&ndash; footer grids&ndash;&gt;-->
<!--            <div class="footer-cpy">-->
<!--                &lt;!&ndash; footer-grid1 &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6 footer-logo">-->
<!--                    <h3>-->
<!--                        <a href="index">Chronicle</a>-->
<!--                    </h3>-->
<!--                    <h4>about us</h4>-->
<!--                    <p>Vallis Molestie Arcu Morbi Dapibus Suscipit Ante Sit Efficitur Eu estie Arcu Mor Anestie Ate Vesti.</p>-->
<!--                </div>-->
                <!-- //footer-grid1 -->
                <!-- footer-grid2 -->
<!--                <div class="col-md-3 col-sm-6 footer-nav text-center">-->
<!--                    <h4>navigation</h4>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="index">Home</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="about">About us</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="shop">shop</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="contact">contact us</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash; //footer-grid2 &ndash;&gt;-->
<!--                &lt;!&ndash; footer-grid3 &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6 blog-footer">-->
<!--                    <h4>latest from blog</h4>-->
<!--                    <div class="blog1">-->
<!--                        <div class="col-md-3 col-sm-3 col-xs-2 bl1">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'assets/images/b1.jpg' %}" alt="" class="img-responsive" />-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="col-md-9 col-sm-9 col-xs-10 bl2">-->
<!--                            <a href="#">Dapibus Suscipit Ante Sit by instagram</a>-->
<!--                            <p>February 15, 2018</p>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                    </div>-->
<!--                    <div class="blog1">-->
<!--                        <div class="col-md-3 col-sm-3 col-xs-2 bl1">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'assets/images/b2.jpg' %}" alt="" class="img-responsive" />-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="col-md-9 col-sm-9 col-xs-10 bl2">-->
<!--                            <a href="#">Dapibus Suscipit Ante Sit by instagram</a>-->
<!--                            <p>February 20, 2018</p>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; //footer-grid3 &ndash;&gt;-->
<!--                &lt;!&ndash; footer-grid4 &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6 contact-foot text-right">-->
<!--                    <h4>contact us</h4>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <span class="fa fa-home"></span>-->
<!--                            1185 Burlington-->
<!--                            <br> Canada.-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <span class="fa fa-phone"></span>-->
<!--                            +12 345 678-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <span class="fa fa-envelope"></span>-->
<!--                            <a href="mailto:info@example.com">mail@chronicle.com</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                &lt;!&ndash; //footer-grid4 &ndash;&gt;-->
<!--                <div class="clearfix"></div>-->
<!--            </div>-->
<!--            &lt;!&ndash; //footer-grids &ndash;&gt;-->
<!--            &lt;!&ndash; footer social &ndash;&gt;-->
<!--            <div class="footer-social text-center">-->
<!--                <h4>stay connected</h4>-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--                            <span class="fa fa-facebook icon_facebook"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--                            <span class="fa fa-twitter icon_twitter"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--                            <span class="fa fa-dribbble icon_dribbble"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--                            <span class="fa fa-google-plus icon_g_plus"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; //footer social &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; //footer container &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; //footer &ndash;&gt;-->
<!--    <div class="cpy-right">-->
<!--        <p>© 2018 Chronicle. All rights reserved | Design by-->
<!--            <a href="http://w3layouts.com"> W3layouts.</a>-->
<!--        </p>-->
<!--    </div>-->
<!-- //home -->
    <!-- js -->
    <script src="{static 'assets/js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!--search jQuery-->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="{% static 'assets/js/minicart.js' %}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- start-smooth-scrolling -->
    <script src="{% static 'assets/js/move-top.js' %}"></script>
    <script src="{% static 'assets/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'assets/js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
</body>

</html>