<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Chronicle Education Category Bootstrap Responsive website Template | Checkout :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'assets/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{% static 'assets/css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- checkout css -->
    <link href="{% static 'assets/css/checkout.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .mySlides {
        display: none;
    }
    .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 100%;
  width: auto;
  padding: 16px;
  margin-top: -1px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.a{
<!--        position:absolute;-->
  width:200px;
<!--           left:40px;-->
  margin:10px auto;
  padding:10px;
  border:1px solid #ccc;
  border-radius:10px;
  background-color:black;
  text-align:center;
<!--           top:700px;-->

   }

</style>

    <!-- //online-fonts -->
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="main-nav">
                <div class="container">

                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Chronicle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="index">Book N Books</a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                        <ul class="nav navbar-nav navbar-left cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                             <li>
                                <a href="employeehome">Works</a>
                            </li>
                            <li>
                                <a href="view_mydeliveries">My Works</a>
                            </li>
<!--                            <li class="dropdown">-->
<!--                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Category-->
<!--                                    <b class="caret"></b>-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li>-->
<!--                                        <a href="add_category">Add category</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="display_category">View category</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="categories">Books</a>-->
<!--                            </li>-->
<!--                            <li class="dropdown">-->
<!--                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Requests-->
<!--                                    <b class="caret"></b>-->
<!--                                </a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li>-->
<!--                                        <a href="requestlist">Request Details</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="viewcharge">Request Payment</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="userlist">Users</a>-->
<!--                            </li>-->
<!--                             <li>-->
<!--                                <a href="booking">Orders</a>-->
<!--                            </li>-->
                            <li>
                                <a href="logout_emp" title="logout">
                                    <span class="fa fa-sign-out"style="font-size:20px"></span>
                                </a>
                            </li>

                        </ul>
                            </div>
                        </div>
                        <!-- //shopping cart ends here -->
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.container -->
            </div>
        </nav>
        <!-- //navbar ends here -->
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
<!--                    <h2 class="title-inner">-->
<!--                        world of reading-->
<!--                    </h2>-->

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
<!--                            <a href="adminhome">-->
                                <i class="glyphicon glyphicon-home"></i>
<!--                            </a>-->
                        </li>
                        <li class="btn btn2">
                            <a href="booking">Delivery Details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!--checkout-->

        {%if messages%}
        <div class="alert alert-success alert-dismissible">
            {%for i in messages%}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong> {{i}}</strong>
            {%endfor%}
        </div>
        {%endif%}

        <div class="innerf-pages section">
<!--            <div class="container">-->
<!--				{% if s %}-->
<!--				<form method="POST" action="../emp_status" class="a">-->
<!--					{% csrf_token %}-->
<!--					<label style="font-size:20px; color:white;  ">Employee status: </label>-->
<!--					<select name="status" style="margin-top: 14px;">-->
<!--						<option value="Free" {% if s.e_status == "Free" %}selected{% endif %}>Free</option>-->
<!--						<option value="In work" {% if s.e_status == "In work" %}selected{% endif %}>In work</option>-->
<!--						<option value="Off duty" {% if s.e_status == "Off duty" %}selected{% endif %}>Off duty</option>-->
<!--					</select>-->
<!--					<button type="submit" class="btn btn-primary" style="margin-top: 9px; margin-left: 16px;">Update</button>-->
<!--				</form>-->
<!--				{% endif%}-->
<!--                <div class="mySlides">-->
<!--                <div class="privacy about">-->
<!--                    <h4 class="rad-txt">-->
<!--                        <span class="abtxt1"></span>-->
<!--                        <span class="abtext">Order Details </span>-->
<!--                    </h4>-->
<br><br>
                    <div class="checkout-right">
<!--                        <h4>Your shopping cart contains:-->
<!--                            <span>3 Products</span>-->
<!--                        </h4>-->

                        <table class="timetable_sub table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">name</th>
<!--                                    <th scope="col">EMPLOYEE email</th>-->
                                    <th scope="col">address </th>
<!--                                    <th scope="col"> district</th>-->
<!--                                    <th scope="col"> pincode </th>-->
									<th scope="col"> number </th>
									<th scope="col"> Order_id </th>
									<th scope="col"> payment mode </th>
									<th scope="col"> price </th>
<!--									<th scope="col"> status </th>-->
<!--									<th scope="col"> work  </th>-->
<!--                                    <th scope="col">DATE</th>-->
<!--                                    <th scope="col">TRACKING NO</th>-->
<!--                                    <th scope="col">STATUS</th>-->
<!--                                    <th scope="col">STATUS UPDATE</th>-->
<!--                                    <th scope="col">Delivery</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                        {% for i in da %}


                                    <tr>
                                        <td>{{i.deli_fname}}</td>
<!--										<td>{{da.d_order.so_email}}</td>-->
										<td>{{i.deli_address}}</td>
							<!--			<td>{{da.d_order.state}}</td>-->
<!--										<td>{{i.deli_st.d_order.so_district}}</td>-->
<!--										<td>{{da.d_order.so_pincode}}</td>-->

										<td>{{i.deli_phone}}</td>
										<td>{{i.deli_order_id}}</td>
										<td>{{i.deli_payment_mode}}</td>
										<td>{{i.deli_total_price}}</td>
<!--                                        <td>{{i.deli_st.d_order.status}}</td>-->
<!--                                     	<td>-->
<!--											<form method="POST" action="../statusup2/{{da.id}}">-->
<!--												{% csrf_token %}-->
<!--											<select name="status" style="margin-top: 14px;">-->
<!--											  	<option value="Pending" {% if da.d_status == "Pending" %}selected{% endif %}>Pending</option>-->
<!--												<option value="Accept" {% if da.d_status == "Accept" %}selected{% endif %}>Accept</option>-->
<!--												<option value="Collected" {% if da.d_status == "Collected" %}selected{% endif %}>Collected</option>-->
<!--												<option value="Delivered" {% if da.d_status == "Delivered" %}selected{% endif %}>Delivered</option>-->
<!--											  	<option value="Cancelled" {% if da.d_status == "Cancelled" %}selected{% endif %}>Cancelled</option>-->
<!--											</select>-->
<!--											<button type="submit"  style="margin-top: 10px; margin-left: 16px;">done</button>-->
<!--										  </form>-->
<!--										</td>-->
<!--										<td><center>-->
<!--											{% if da.d_status == 'Delivered' or  i.d_status == 'Cancelled' %}-->
<!--												<a href="../delivery_completed/{{i.pk}}"><input type="submit" value="done" class="btn btn-primary"></a>-->
<!--											{%endif%}-->
<!--										</center></td>-->
									</tr>

							    {% endfor %}
                            </tbody>

                        </table>
                        </div>
                    </div>
<!--                </div>-->
            </div>

        </div>

    <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("demo");
      let captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>

        <!--//checkout-->
        <!-- footer -->
<!--        <div class="footer-bottom section">-->
<!--            <div class="container">-->
                <!-- newsletter -->
<!--                <div class="subscribe-main section-w3layouts text-center">-->
<!--                    <h4 class="rad-txt">-->
<!--                        <span class="abtxt1">keep yourself</span>-->
<!--                        <span class="abtext">updated</span>-->
<!--                    </h4>-->
<!--                    <h5>subscribe to our newsletter to stay up-to-date with our projects.</h5>-->
<!--                    <div class="subscribe-form">-->
<!--                        <form action="#" method="post" class="subscribe_form">-->
<!--                            <div class="email-news">-->
<!--                                <input type="email" placeholder="Email" required="">-->
<!--                            </div>-->
<!--                            <div class="sub-news">-->
<!--                                <input type="submit" value="subscribe">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                        <div class="clearfix"> </div>-->
<!--                    </div>-->
<!--                    <p>We respect your privacy.No spam ever!</p>-->
<!--                </div>-->
                <!-- //newsletter ends here -->
                <!-- footer grids-->
<!--                <div class="footer-cpy">-->
<!--                    &lt;!&ndash; footer-grid1 &ndash;&gt;-->
<!--                    <div class="col-md-3 col-sm-6 footer-logo">-->
<!--                        <h3>-->
<!--                            <a href="index">Chronicle</a>-->
<!--                        </h3>-->
<!--                        <h4>about us</h4>-->
<!--                        <p>Vallis Molestie Arcu Morbi Dapibus Suscipit Ante Sit Efficitur Eu estie Arcu Mor Anestie Ate Vesti.</p>-->
<!--                    </div>-->
                    <!-- //footer-grid1 -->
                    <!-- footer-grid2 -->
<!--                    <div class="col-md-3 col-sm-6 footer-nav text-center">-->
<!--                        <h4>navigation</h4>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <a href="index">Home</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="about">About us</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="shop">shop</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="contact">contact us</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- //footer-grid2 -->
                    <!-- footer-grid3 -->
<!--                    <div class="col-md-3 col-sm-6 blog-footer">-->
<!--                        <h4>latest from blog</h4>-->
<!--                        <div class="blog1">-->
<!--                            <div class="col-md-3 col-sm-3 col-xs-2 bl1">-->
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'assets/images/b1.jpg' %}" alt="" class="img-responsive" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="col-md-9 col-sm-9 col-xs-10 bl2">-->
<!--                                <a href="#">Dapibus Suscipit Ante Sit by instagram</a>-->
<!--                                <p>February 15, 2018</p>-->
<!--                            </div>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </div>-->
<!--                        <div class="blog1">-->
<!--                            <div class="col-md-3 col-sm-3 col-xs-2 bl1">-->
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'assets/images/b2.jpg' %}" alt="" class="img-responsive" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="col-md-9 col-sm-9 col-xs-10 bl2">-->
<!--                                <a href="#">Dapibus Suscipit Ante Sit by instagram</a>-->
<!--                                <p>February 20, 2018</p>-->
<!--                            </div>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- //footer-grid3 -->
                    <!-- footer-grid4 -->
<!--                    <div class="col-md-3 col-sm-6 contact-foot text-right">-->
<!--                        <h4>contact us</h4>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <span class="fa fa-home"></span>-->
<!--                                1185 Burlington-->
<!--                                <br> Canada.-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="fa fa-phone"></span>-->
<!--                                +12 345 678-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="fa fa-envelope"></span>-->
<!--                                <a href="mailto:info@example.com">mail@chronicle.com</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- //footer-grid4 -->
<!--                    <div class="clearfix"></div>-->
<!--                </div>-->
                <!-- //footer-grids -->
                <!-- footer social -->
<!--                <div class="footer-social text-center">-->
<!--                    <h4>stay connected</h4>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-facebook icon_facebook"></span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-twitter icon_twitter"></span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-dribbble icon_dribbble"></span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">-->
<!--                                <span class="fa fa-google-plus icon_g_plus"></span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!-- //footer social -->
<!--            </div>-->
            <!-- //footer container -->
<!--        </div>-->
        <!-- //footer -->
<!--        <div class="cpy-right">-->
<!--            <p>© 2018 Chronicle. All rights reserved | Design by-->
<!--                <a href="http://w3layouts.com"> W3layouts.</a>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
    <!-- //home -->

    <!-- Common js -->
    <script src="{% static 'assets/js/jquery-2.2.3.min.js' %}"></script>
    <!--// Common js -->
    <!-- cart-js -->
    <script src="{% static 'assets/js/minicart.js' %}"></script>
    <script>
        chr.render();

        chr.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!-- FadeOut-Script -->
    <script>
        $(document).ready(function (c) {
            $('.close1').on('click', function (c) {
                $('.rem1').fadeOut('slow', function (c) {
                    $('.rem1').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close2').on('click', function (c) {
                $('.rem2').fadeOut('slow', function (c) {
                    $('.rem2').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.close3').on('click', function (c) {
                $('.rem3').fadeOut('slow', function (c) {
                    $('.rem3').remove();
                });
            });
        });
    </script>
    <!--// FadeOut-Script -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!--search jQuery-->

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'assets/js/scrolling-nav.js' %}"></script>
    <!-- //fixed-scroll-nav-js -->
    <!--//scripts-->
    <!-- start-smooth-scrolling -->
    <script src="{% static 'assets/js/move-top.js' %}"></script>
    <script src="{% static 'assets/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'assets/js/SmoothScroll.min.js' %}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
</body>

</html>